absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
asgiref
astunparse
attrs
Babel
beautifulsoup4
bitarray
blinker
blis
Brotli
cachetools
catalogue
certifi
cffi
charset-normalizer
ckzg
click
cloudpathlib
colorama
confection
contourpy
cryptography
cycler
cymem
cytoolz
datasets
dill
distlib
distro
Django
docker
ecdsa
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
eth_abi
factor_analyzer
fastapi
filelock
filetype
Flask
Flask-Cors
flatbuffers
fonttools
frozendict
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
hexbytes
html5lib
httpcore
httplib2
httpx
huggingface-hub
idna
imageio
imbalanced-learn
imblearn
investpy
itsdangerous
Jinja2
jiter
joblib
jsonify
jsonschema
jsonschema-specifications
keras
keras-tuner
kiwisolver
kt-legacy
labelImg
langcodes
language_data
lazy_loader
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mlxtend
mpmath
multidict
multiprocess
multitasking
murmurhash
mutagen
mysqlclient
namex
narwhals
networkx
nltk
numpy
oauthlib
openai
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
optree
outcome
packaging
pandas
parsimonious
patsy
pdfminer.six
pdfplumber
peewee
pillow
platformdirs
plotly
preshed
proto-plus
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
pypdfium2
PyQt5
PyQt5-Qt5
PyQt5_sip
PySocks
pytesseract
python-dateutil
python-dotenv
pytube
pytz
pyunormalize
PyYAML
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rlp
roboflow
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
sentence-transformers
setuptools
shellingham
six
sklearn-compat
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
starlette
statsmodels
streamlit
streamlit-lottie
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
thinc
threadpoolctl
tifffile
tkcalendar
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
trio
trio-websocket
tweepy
typer
types-requests
typing_extensions
tzdata
ultralytics
ultralytics-thop
Unidecode
uritemplate
urllib3
uvicorn
virtualenv
wasabi
watchdog
weasel
web3
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
wheel
whois
wordcloud
wrapt
wsproto
xgboost
xxhash
yarl
yfinance
yt-dlp
